@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

    This repo contains examples from the <a href="https://www.telerik.com/whitepapers/blazor-ui/blazor-ebook">
    Free Blazor Ebook
</a>

<ThemeChooser></ThemeChooser>